# Python specific
__pycache__/
*.py[cod]
*$py.class
.venv

# Node specific
node_modules/

# C++ specific
*.o
*.out
vibe_cpp

# Editor specific
.idea/
.vscode/
*.swp
*.swo
*~
*#

# OS specific
.DS_Store

# Project specific
Vibe/Backups/
.env